@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body,
#root {
  min-height: 100vh;
  background: linear-gradient(
    270deg,
    #0f172a,
    #1e293b,
    #3b82f6,
    #6366f1,
    #a78bfa
  );
  background-size: 1000% 1000%;
  animation: gradientShift 30s ease infinite;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
}
